/* body {
  font-family: montserrat;
} */

nav.navbar {
  border-bottom: 1px solid #202020;
}

.navbar {
  background-color: black;
}

.nav-item {
  margin-right: 25px;
}

.nav-item.active a {
  color: #F9B234 !important;
  font-weight: 600;
}

.nav-link span {
  color: #F9B234;
  font-weight: 600;
}

.carousel {
  background-color: black;
  height: 450px;
  color: aliceblue;
}

.carousel h1 {
  padding-top: 10px;
  font-family: 'lora';
}

.carousel p {
  font-weight: 200;
}

.carousel a {
  margin-top: -20px;
}

.features h3,
.designer h3,
.similar-product h3,
.cart-header h3,
.checkout-modal-success h3,
.category h3 {
  font-family: 'lora';
  color: #1b2690;
  font-weight: bold;
}

.features p,
.designer p,
footer p,
.similar-product p,
.cart-header p,
.checkout-modal-success p,
.category p {
  color: #b3b3b3;

}

.category {
  margin: 100px;
}

/* .cart-header p {
  margin-bottom: -50px;
} */

.figure h5 {
  color: #171717;
}

.figure-img a {
  position: absolute;
  top: 0;
  bottom: 8px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.4s;
}

.figure-img {
  position: relative;

}

.figure-img:hover a {
  opacity: 1;
}

/* Breadcrumb */
.breadcrumb {
  margin-top: 120px;
}

.cart-breadcrumb {
  margin-top: -50px;
}

.product-thumnail-container {
  background-color: white;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
  width: 360px;
  padding: 10px;
  margin: auto;
  transform: translatey(-50px);
}

.product-thumnail-container a:hover {
  text-decoration: none;
}

.btn-product {
  margin: 30px 0;
  border-bottom: 1px solid #adadad;
  padding-bottom: 20px;
}

.btn-product .btn {
  display: block;
  margin: 20px 0;
}

/* .designed-by {
  padding-left: 10px;
} */

.designed-by h5 {
  font-size: 14px;
  font-weight: 200;
  color: #b7b7b7;

}

.designed-by h4 {
  font-size: 18px;
  color: #171717;
  padding-left: 10px;
}

.designed-by p {
  font-size: 14px;
  font-weight: 200;
  color: #4b4b4b;
  padding-left: 10px;
}

.designed-by p span {
  color: #b7b7b7;

}

/* Product Description */
.product-description {
  background-color: #F6F7FB;
  height: 360px;


}

.product-description .tab-content {

  background-color: white;
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-top: 0;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.10);
}

.product-description .tab-content p {
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  color: #868686;
}

.product-review {
  height: 330px;
  overflow: scroll;

}

.product-review h5 {
  font-size: 18px;
}

.product-review p {
  font-size: 14px !important;

}

.similar-product {
  margin-top: 180px;
  margin-bottom: 100px;
}

.checkout-detail {
  background-color: #F6F7FB;
  border: 1px #dfdfdf;
  color: #171717;
}